<form class="main-form" (submit)="onSignUp()">
  <div class="fields-div">
    <app-named-input-field
      class="username-div"
      label="Username"
      inputName="uName"
      [(targetProperty)]="username"
    ></app-named-input-field>
    <app-named-input-field
      class="password-div"
      label="Password"
      inputName="pWord"
      inputType="text"
      [(targetProperty)]="password"
    ></app-named-input-field>
  </div>
  <div class="button-div">
    <button
      class="sign-up-button"
      type="submit"
      [disabled]="username === '' || password === ''"
    >
      Sign Up
    </button>
  </div>
</form>
