<app-page-header></app-page-header>
<div class="homepage">
  <app-messages-container class="message-container"></app-messages-container>
  <form class="new-message-container">
    <app-named-input-field
      class="message-input"
      label="Message"
      inputName="msg"
      [(targetProperty)]="message"
    ></app-named-input-field>
    <button
      type="submit"
      class="send-button"
      (click)="onMessageSend()"
      [disabled]="message === ''"
    >
      Send
    </button>
  </form>
</div>
